In [0]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [0]:
data = pd.read_csv("/content/filtered_data.csv") ;
data

        Unnamed: 0  Invoice StockCode  ... Price  Customer ID         Country
0                0   489434     85048  ...  6.95      13085.0  United Kingdom
1                1   489434    79323P  ...  6.75      13085.0  United Kingdom
2                2   489434    79323W  ...  6.75      13085.0  United Kingdom
3                3   489434     22041  ...  2.10      13085.0  United Kingdom
4                4   489434     21232  ...  1.25      13085.0  United Kingdom
...            ...      ...       ...  ...   ...          ...             ...
400911      525456   538171     22271  ...  2.95      17530.0  United Kingdom
400912      525457   538171     22750  ...  3.75      17530.0  United Kingdom
400913      525458   538171     22751  ...  3.75      17530.0  United Kingdom
400914      525459   538171     20970  ...  3.75      17530.0  United Kingdom
400915      525460   538171     21931  ...  1.95      17530.0  United Kingdom

[400916 rows x 9 columns]

In [0]:
print(data['Country'].unique())
# Stripping extra spaces in the descriptioni 
data['Description']= data['Description'].str.strip();

['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Denmark' 'Netherlands' 'Poland' 'Channel Islands' 'Spain'
 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden' 'United Arab Emirates'
 'Finland' 'Italy' 'Switzerland' 'Japan' 'Unspecified' 'Nigeria' 'Malta'
 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania' 'West Indies'
 'Korea' 'Brazil' 'Canada' 'Iceland']

In [0]:
# Transactions done in France 
basket_France =(data[data['Country'] =="France"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0).set_index('Invoice'))
    
# Transactions done in Portugal 
basket_Por =(data[data['Country'] =="Portugal"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0).set_index('Invoice'))
  
# Transactions done in Sweden     
basket_Sweden =(data[data['Country'] =="Sweden"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0).set_index('Invoice'))