## **Initializing libraries and uploading data and creating data frames**

In [0]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set ipython's max row display
pd.set_option('display.max_row', 100)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 100)

In [24]:
#uploading data
from google.colab import files
uploaded = files.upload()

Saving ces_hybrid.csv to ces_hybrid (2).csv
Saving ces_hybrid_frequency_table.xls to ces_hybrid_frequency_table (2).xls
Saving ces_hybrid_output.csv to ces_hybrid_output (2).csv

In [0]:
#creating data frames
import io
original = pd.read_csv(io.BytesIO(uploaded['ces_hybrid.csv']))
ces = pd.read_csv(io.BytesIO(uploaded['ces_hybrid_output.csv']))
frequency = pd.read_excel(io.BytesIO(uploaded['ces_hybrid_frequency_table.xls']))

In [0]:
# print all the imported data
frequency=frequency.dropna(axis='columns', how='all')
#print(frequency)

original=original.dropna(axis='columns', how='all')
original=original.drop_duplicates(keep='first')
original.columns=['id','description']
#print(original)

ces=ces.dropna(axis='columns', how='all')
ces=ces.drop_duplicates(keep='first')
#print(ces)

## **Sort and transforming data to find out the 3 most sold items across the cities**

In [27]:
#group data by city and process the same
ces_city = ces.groupby(["city"])
'''
for key, item in ces_city:
    print(ces_city.get_group(key), "\n\n")
    
'''

'\nfor key, item in ces_city:\n    print(ces_city.get_group(key), "\n\n")\n    \n'

In [0]:
count=ces_city['description'].value_counts()
ces_city_df = count.to_frame()
#print(len(ces_city_df.columns))
#print(ces_city_df)
ces_city_df.rename(columns = {'description':'0'}, inplace = True)

In [29]:
ces_city_df.reset_index()
ces_city_df.rename(columns = {'0':'frequency'}, inplace = True)
#ces_city_df = ces_city_df.sort_values(by=['city','frequency'],ascending=[True, False])
ces_city_df = ces_city_df.sort_values(by=['city','frequency'],ascending=[True, False]).groupby('city').head(3)
ces_city_df.reset_index()

              city       description  frequency
0            Belem           vinegar        122
1            Belem            garlic        116
2            Belem               egg         93
3   Belo_Horizonte               egg        166
4   Belo_Horizonte      french_bread        166
5   Belo_Horizonte           vinegar        154
6         Curitiba               egg        168
7         Curitiba      french_bread        154
8         Curitiba           soy_oil        142
9    Florianopolis      french_bread        158
10   Florianopolis           vinegar        144
11   Florianopolis        mayonnaise        139
12       Fortaleza               egg        165
13       Fortaleza      french_bread        165
14       Fortaleza            banana        163
15         Goiania      french_bread        157
16         Goiania           soy_oil        153
17         Goiania  granulated_sugar        136
18    Porto_Alegre               egg        152
19    Porto_Alegre           vinegar        137
20    Porto_Alegre      french_bread        131
21          Recife      french_bread        175
22          Recife           vinegar        162
23          Recife            garlic        161

## **Sort and transforming data to find out the 3 most sold items across the Income group**

In [30]:
#group data by city and process the same
ces_income = ces.groupby(["income"])
'''
for key, item in ces_income:
    print(ces_income.get_group(key), "\n\n")
    '''

'\nfor key, item in ces_income:\n    print(ces_income.get_group(key), "\n\n")\n    '

In [0]:
count=ces_income['description'].value_counts()
ces_income_df = count.to_frame()
#print(len(ces_income_df.columns))
#print(ces_income_df)
ces_income_df.rename(columns = {'description':'0'}, inplace = True)

In [32]:
ces_income_df.reset_index()
ces_income_df.rename(columns = {'0':'frequency'}, inplace = True)
#ces_income_df = ces_income_df.sort_values(by=['city','frequency'],ascending=[True, False])
ces_income_df = ces_income_df.sort_values(by=['income','frequency'],ascending=[True, False]).groupby('income').head(3)
ces_income_df.reset_index()

       income   description  frequency
0    12_to_18       vinegar        190
1    12_to_18           egg        188
2    12_to_18  french_bread        188
3    18_to_25  french_bread        128
4    18_to_25           egg        126
5    18_to_25       vinegar        122
6    2.5_to_5       soy_oil        169
7    2.5_to_5           egg        164
8    2.5_to_5  french_bread        154
9    25_to_43           egg        130
10   25_to_43  french_bread        123
11   25_to_43       vinegar        122
12     5_to_8       soy_oil        209
13     5_to_8  french_bread        205
14     5_to_8           egg        199
15    8_to_12           egg        209
16    8_to_12       soy_oil        203
17    8_to_12       vinegar        203
18   above_43           egg         70
19   above_43  french_bread         66
20   above_43    mayonnaise         63
21  below_2.5       soy_oil         68
22  below_2.5           egg         58
23  below_2.5  french_bread         55

## **Sort and transforming data to find out the 3 most sold items across the family members group**

In [33]:
#group data by city and process the same
ces_members = ces.groupby(["members"])
'''
for key, item in ces_members:
    print(ces_members.get_group(key), "\n\n")
  '''

'\nfor key, item in ces_members:\n    print(ces_members.get_group(key), "\n\n")\n  '

In [0]:
count=ces_members['description'].value_counts()
ces_members_df = count.to_frame()
#print(len(ces_members_df.columns))
#print(ces_members_df)
ces_members_df.rename(columns = {'description':'0'}, inplace = True)

In [35]:
ces_members_df.reset_index()
ces_members_df.rename(columns = {'0':'frequency'}, inplace = True)
#ces_members_df = ces_members_df.sort_values(by=['members','frequency'],ascending=[True, False])
ces_members_df = ces_members_df.sort_values(by=['members','frequency'],ascending=[True, False]).groupby('members').head(3)
ces_members_df.reset_index()

    members   description  frequency
0         1  french_bread         45
1         1           egg         39
2         1       vinegar         37
3         2           egg        185
4         2       vinegar        165
5         2  french_bread        164
6         3           egg        248
7         3       vinegar        222
8         3  french_bread        219
9         4  french_bread        284
10        4           egg        276
11        4       soy_oil        267
12        5  french_bread        201
13        5           egg        198
14        5       soy_oil        198
15        6  french_bread        104
16        6       soy_oil        104
17        6           egg         98
18  above_6       soy_oil        102
19  above_6           egg        100
20  above_6  french_bread         97

## **Sort and transforming data to find out the number of members per family across all cities**

In [36]:
#group data by city and process the same
ces_family = ces.groupby(["city"])
'''
for key, item in ces_age:
    print(ces_family.get_group(key), "\n\n")
   '''

'\nfor key, item in ces_age:\n    print(ces_family.get_group(key), "\n\n")\n   '

In [0]:
count=ces_family['members'].value_counts()
ces_family_df = count.to_frame()
#print(len(ces_family_df.columns))
#print(ces_family_df)
ces_family_df.rename(columns = {'members':'0'}, inplace = True)

In [38]:
ces_family_df.reset_index()
ces_family_df.rename(columns = {'0':'frequency'}, inplace = True)
#ces_family_df = ces_family_df.sort_values(by=['city','frequency'],ascending=[True, False])
ces_family_df = ces_family_df.sort_values(by=['city','frequency'],ascending=[True, False]).groupby('city').head(3)
ces_family_df.reset_index()

              city members  frequency
0            Belem       4       1845
1            Belem       3       1323
2            Belem       5       1044
3   Belo_Horizonte       4       1660
4   Belo_Horizonte       5       1421
5   Belo_Horizonte       3       1297
6         Curitiba       3       1767
7         Curitiba       4       1638
8         Curitiba       5       1353
9    Florianopolis       3       1847
10   Florianopolis       2       1704
11   Florianopolis       4       1595
12       Fortaleza       4       2191
13       Fortaleza       5       1388
14       Fortaleza       6       1039
15         Goiania       4       2460
16         Goiania       3       1831
17         Goiania       5       1734
18    Porto_Alegre       4       1884
19    Porto_Alegre       2       1479
20    Porto_Alegre       3       1335
21          Recife       4       1840
22          Recife       3       1541
23          Recife       5       1150